.root{
    display: flex;
    align-items: center;
    width: 380px;
    padding: 12px 0 12px 20px;
    column-gap: 10px;
    background-color: var(--bg-color-secondary);
    border-radius: 10px;

    &__input{
        color: var(--input-color);
        font-weight: 700;
        font-size: 16px;
        font-family: 'Nunito Sans', sans-serif;
        background-color: var(--bg-color-secondary);


        &::placeholder{
            color: #D8D8D8;
            font-weight: 400;
            font-size: 16px;
            font-family: 'Nunito Sans', sans-serif;
        }
    }
}