.root {
	&__label {
		display: block;
		margin-bottom: 7px;
		color: #877d92;
		font-weight: 700;
		font-family: 'Nunito Sans', sans-serif;
		line-height: 24px;
	}

	&__input {
		width: 100%;
		padding: 12px 18px;
		color: #877d92;
		font-family: 'Nunito Sans', sans-serif;
		line-height: 24px;
		border: 1px solid #e8d8f0;
		border-radius: 14px;

		&::placeholder {
			color: #877d92;
			font-family: 'Nunito Sans', sans-serif;
			line-height: 24px;
		}

		&_textarea {
			height: 120px;
			resize: none;
			scrollbar-width: none;
			-ms-overflow-style: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		&_auth {
			padding: 15px 18px;
		}
	}
}
