.icon{
    width: 46px;
    height: 46px;
    padding: 12px;
    border-radius: 10px;
}

.icon-color-blue{
    background: #2796EC;
}

.icon-color-orange{
    background: #ED8242;
}

.icon-color-green{
    background: #358844;
}

