.root {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 310px;
	height: 48px;
	border-radius: 14px;

	&_large {
		width: 448px;
		background-color: #f9f4fd;
	}

	&__container {
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		height: 40px;
		margin: 4px 5px;

		&_large {
			width: 224px;
		}

		&_btn {
			position: relative;
			height: 100%;
			background-color: #1fc6c6;
			border-radius: 14px;
			transition: 1s;
		}
	}

	&__text {
		z-index: 10;
		padding: 0 40px;
		font-size: 16px;
		cursor: pointer;

		&_left {
			color: #fff;
			transition: 1s;
		}

		&_right {
			color: #1b0a29;
			transition: 1s;
		}
	}
}
