.root {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 310px;
	height: 48px;
	border-radius: 14px;

	&_large {
		width: 448px;
		background-color: #f9f4fd;
	}

	&__text {
		z-index: 10;
		padding: 16px;
		font-size: 16px;

		&_active {
			color: #fff;
			transition: 1s;
		}

		&_notactive {
			color: #1b0a29;
			cursor: pointer;
			transition: 1s;
		}
	}

	&__btn {
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		height: 40px;
		margin: 4px 5px;
		background-color: #1fc6c6;
		border-radius: 14px;
		transition: 1s;

		&_large {
			width: 224px;
		}

		&_move {
			left: 150px;
		}

		&_move_large {
			left: 214px;
		}
	}
}
